<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="academyTest.Listeners" />
		
			<listener class-name="resources.ExtentReporterNG" />
	</listeners>
	
	<test name="Validating Navigation Bar">
		<classes>
			<class name="academyTest.ValidateNavigationBar" />
		</classes>
	</test>

	<test name="Test">
		<classes>
			<class name="resources.BaseTest" />
		</classes>
	</test>

	<test name="Validating Title of Test">
		<classes>
			<class name="academyTest.ValidateTitleTest" />
		</classes>
	</test>

	<test name="Validating user login ">
		<classes>
			<class name="academyTest.HomePageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
